In [38]:
#Librerias
import pandas as pd
import numpy as np

#Funciones de usuario
import source.aux_functions as fn

In [39]:
# Datos para el DataFrame
data = {
    'ID_Transaccion': range(101, 131),
    'Producto': ['Laptop', 'Mouse', 'Teclado', 'Monitor', 'Laptop', 'Mouse', 'Teclado', 'Monitor', 'Laptop', 'Mouse',
                 'Teclado', 'Monitor', 'Laptop', 'Mouse', 'Teclado', 'Monitor', 'Laptop', 'Mouse', 'Teclado', 'Monitor',
                 'Laptop', 'Mouse', 'Teclado', 'Monitor', 'Laptop', 'Mouse', 'Teclado', 'Monitor', 'Laptop', 'Mouse'],
    'Region': ['Norte', 'Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste', 'Norte',
               'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este',
               'Oeste', 'Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste', 'Norte'],
    'Trimestre': [1, 1, 1, 1, 1, 2, 2, 2, 2, 3,
                  3, 3, 3, 4, 4, 4, 4, 1, 1, 1,
                  2, 2, 2, 2, 3, 3, 3, 3, 4, 4],
    'Ventas': [1200, 50, 80, 300, 1500, 60, 90, 320, 1300, 70,
               100, 350, 1600, 80, 110, 380, 1400, 55, 85, 310,
               1550, 65, 95, 330, 1350, 75, 105, 360, 1650, 85],
    'Unidades_Vendidas': [2, 1, 1, 1, 3, 1, 1, 1, 2, 1,
                          1, 1, 3, 1, 1, 1, 2, 1, 1, 1,
                          3, 1, 1, 1, 2, 1, 1, 1, 3, 1],
    'Fecha': pd.to_datetime(['2023-01-15', '2023-01-20', '2023-02-10', '2023-03-01', '2023-03-25',
                             '2023-04-10', '2023-05-05', '2023-05-20', '2023-06-15', '2023-07-01',
                             '2023-07-18', '2023-08-05', '2023-08-22', '2023-09-10', '2023-09-28',
                             '2023-10-15', '2023-10-30', '2023-11-10', '2023-11-25', '2023-12-05',
                             '2024-01-10', '2024-01-25', '2024-02-15', '2024-03-01', '2024-03-20',
                             '2024-04-05', '2024-04-20', '2024-05-10', '2024-05-25', '2024-06-15'])
}

df_datos = pd.DataFrame(data)

# Añadir algunos valores nulos para práctica (opcional, pero útil)
np.random.seed(42) # para reproducibilidad
for col in ['Ventas', 'Unidades_Vendidas']:
    df_datos.loc[np.random.choice(df_datos.index, 3, replace=False), col] = np.nan

print("DataFrame creado:")
print(df_datos.head())
print("\nInformación del DataFrame:")
df_datos.info()

DataFrame creado:
   ID_Transaccion Producto Region  Trimestre  Ventas  Unidades_Vendidas  \
0             101   Laptop  Norte          1  1200.0                NaN
1             102    Mouse  Norte          1    50.0                1.0
2             103  Teclado    Sur          1    80.0                1.0
3             104  Monitor   Este          1   300.0                1.0
4             105   Laptop  Oeste          1  1500.0                3.0

       Fecha
0 2023-01-15
1 2023-01-20
2 2023-02-10
3 2023-03-01
4 2023-03-25

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_Transaccion     30 non-null     int64
 1   Producto           30 non-null     object
 2   Region             30 non-null     object
 3   Trimestre          30 non-null     int64
 4   Ventas             27 non-null     float64
 5   Unidades_Vendidas  27 non-null     float64
 6   Fecha              30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 1.8+ KB

In [40]:
df_datos.groupby('Producto')['Ventas'].sum()

Producto
Laptop     11550.0
Monitor     1280.0
Mouse        540.0
Teclado      665.0
Name: Ventas, dtype: float64

In [49]:
df_datos.groupby('Region')['Ventas'].mean()

Region
Este      320.000000
Norte     193.333333
Oeste    1478.571429
Sur        95.000000
Name: Ventas, dtype: float64

In [ ]:
df_datos.groupby('Trimestre')['ID_Transaccion'].count()

Trimestre
1    8
2    8
3    8
4    6
Name: ID_Transaccion, dtype: int64

In [43]:
# Agregando con nombres personalizados usando un diccionario
df_agrupado_personalizado = df_datos.groupby(['Producto','Region']).agg(
    Total_Ventas=('Ventas', 'sum'),
    Promedio_Unidades=('Unidades_Vendidas', 'mean'),
    Numero_Transacciones=('ID_Transaccion', 'count')
)
#Valida el resultado
print("\nDataFrame agrupado con nombres personalizados:")
df_agrupado_personalizado.reset_index()
df_agrupado_personalizado.head()

DataFrame agrupado con nombres personalizados:

                 Total_Ventas  Promedio_Unidades  Numero_Transacciones
Producto Region
Laptop   Norte         1200.0                NaN                     1
         Oeste        10350.0                2.5                     7
Monitor  Este          1280.0                1.0                     7
Mouse    Norte          540.0                1.0                     8
Teclado  Sur            665.0                1.0                     7

In [46]:
#Corrige los valores nulos en la columna 'Promedio_Unidades' con 0
df_filled_col = df_agrupado_personalizado.copy()
df_filled_col['Promedio_Unidades']=df_filled_col['Promedio_Unidades'].fillna(0) # Rellenar todos los nulos con 0
print("\nDataFrame con valores nulos corregidos en 'Promedio_Unidades':")
df_filled_col.head()

DataFrame con valores nulos corregidos en 'Promedio_Unidades':

                 Total_Ventas  Promedio_Unidades  Numero_Transacciones
Producto Region
Laptop   Norte         1200.0                0.0                     1
         Oeste        10350.0                2.5                     7
Monitor  Este          1280.0                1.0                     7
Mouse    Norte          540.0                1.0                     8
Teclado  Sur            665.0                1.0                     7

In [47]:

#Corrige todos los valores nulos en el DataFrame con 0
df_filled_col = df_filled_col.fillna(0) # Rellenar todos los nulos con 0
print("\nDataFrame con valores nulos corregidos:")
df_filled_col.head()

DataFrame con valores nulos corregidos:

                 Total_Ventas  Promedio_Unidades  Numero_Transacciones
Producto Region
Laptop   Norte         1200.0                0.0                     1
         Oeste        10350.0                2.5                     7
Monitor  Este          1280.0                1.0                     7
Mouse    Norte          540.0                1.0                     8
Teclado  Sur            665.0                1.0                     7